#notifications-popup {
    inset: 0px 0px auto auto;
    margin: 0px;
    transform: translate3d(-17px, 10px, 0px);
  }
  
  .custom-paper {
    opacity: 1;
    transform: none;
    transition: opacity 365ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 243ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  
}
  
  .custom-list {
    list-style: none;
    /* Your custom list styles */
  }
  
  .custom-list-item {
    /* Your custom list item styles */
  }
  
  .custom-body1 {
    /* Your custom body1 styles */
  }
  
  .custom-body2 {
    /* Your custom body2 styles */
  }
  
  .custom-divider {
    /* Your custom divider styles */
  }
  
.check-btn {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #34fc00;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-radius: 10px;
    margin-left: 10px;
}